html{
    scroll-behavior: smooth;
}
  
body{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    cursor: crosshair;
}

section{
    height: 100vh;
    width: 100vh;
    scroll-snap-align: start;
}
  
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 600vh;
     
    
  }

.slide {
    width: 100vw;
    height: 100vh;
    position: relative;  
    
  }


.one {
    z-index: 1;
    background-color: #f9a7a7;
    
  }
    .clickone{
        z-index: 3;
        color: #ffffff;
        top: 50%;
    }


.two {
    z-index: 1;
    background-color: #f9b7b7;
}

.three {
    z-index: 1;
    background-color: #f9c7c7;
}

.four {
    z-index: 1;
    background-color: #f9d7d7;
}

.five {
    z-index: 1;
    background-color: #f9e7e7;
    
}

.six {
    z-index: 1;
    background-color: #ffffff;
}

.quiztitle{
    z-index: 3;
    position: absolute;
    text-align: center;
    top: 75%;
    left: 30%;
    right: 30%;
    font-size: 30px;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.q{
    z-index: 3;
}